
<p-dialog [(visible)]="_visible" modal header="Todo Update" [closable]="true" (onHide)="store.closeDialog()" >
  <form [formGroup]="cardForm" (submit)="onSubmit()">
    <div class="field mb-4">
      <label for="name" class="block mb-2">Name</label>
      <input
        pInputText
        id="name"
        type="text"
        formControlName="name"
        class="w-full"
        placeholder="Card Name"
      />
    </div>
    <div class="field mb-4">
      <label for="date" class="block mb-2">Date</label>
      <p-calendar
        id="date"
        formControlName="date"
        [showIcon]="true"
        dateFormat="dd/mm/yy"
        class="w-full"
      ></p-calendar>
    </div>
    <div class="flex justify-end">
      <p-button
        label="İptal"
        styleClass="p-button-text"
        (onClick)="store.toggleDialog()"
        class="mr-2"
      ></p-button>
      <p-button
        label="Kaydet"
        type="submit"
        [disabled]="cardForm.invalid"
      ></p-button>
    </div>
  </form>
</p-dialog>
